/*
@font-face {
    font-family: 'Syncopate';
    src: url(./Syncopate-Bold.woff2) format('woff2'),
    url(./Syncopate-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Archivo';
    src: url(./Archivo-VariableFont.woff2) format('woff2'), 
    url(./Archivo-VariableFont.woff) format('woff') ;
}
*/