<!-- wp:template-part {"slug":"header-dark"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"1em","bottom":"3em","right":"20px","left":"20px"}}},"backgroundColor":"background","textColor":"foreground","layout":{"inherit":true}} -->
<div class="wp-block-group has-foreground-color has-background-background-color has-text-color has-background" style="padding-top:1em;padding-right:20px;padding-bottom:3em;padding-left:20px"><!-- wp:post-title {"textAlign":"center","level":1} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3em","bottom":"3em","right":"20px","left":"20px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:3em;padding-right:20px;padding-bottom:3em;padding-left:20px"><!-- wp:post-content {"layout":{"inherit":false}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->