<!-- wp:template-part {"slug":"header-dark"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}}},"backgroundColor":"background","textColor":"foreground","layout":{"inherit":true}} -->
<main class="wp-block-group has-foreground-color has-background-background-color has-text-color has-background has-link-color" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"4em","bottom":"6em"}},"border":{"bottom":{"color":"var:preset|color|separator","width":"1px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group alignwide" style="padding-top:4em;padding-bottom:6em"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"20px","left":"20px"}}},"layout":{"contentSize":"512px"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:20px;padding-left:20px"><!-- wp:post-featured-image {"className":"album-image"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"20px","left":"20px"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:20px;padding-left:20px"><!-- wp:post-title {"level":1,"style":{"typography":{"lineHeight":"2","textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}}} /-->

<!-- wp:genesis-custom-blocks/hody-discog-album-album-description {"lock":{"move":false,"remove":true}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"25px","padding":{"top":"20px","bottom":"20px"}},"typography":{"lineHeight":"2"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="line-height:2;padding-top:20px;padding-bottom:20px"><!-- wp:genesis-custom-blocks/hody-discog-album-album-producer-label {"hody-discog-album--producer-text-color":"#f2f2f2","lock":{"move":false,"remove":true}} /-->

<!-- wp:genesis-custom-blocks/hody-discog-album-album-release-date {"hody-discog-album--release-dateFormat":"F , Y","lock":{"move":false,"remove":true}} /--></div>
<!-- /wp:group -->

<!-- wp:genesis-custom-blocks/hody-discog-album-streaming-icons {"lock":{"move":false,"remove":true}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"8em","bottom":"8em","right":"20px","left":"20px"}},"border":{"bottom":{"color":"var:preset|color|separator","width":"1px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group alignwide" style="padding-top:8em;padding-right:20px;padding-bottom:8em;padding-left:20px"><!-- wp:heading {"style":{"typography":{"textTransform":"uppercase","lineHeight":"2"}}} -->
<h2 style="line-height:2;text-transform:uppercase">Tracklist</h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:genesis-custom-blocks/hody-discog-album-tracklist {"hody-discog-album-tracklist--show-hide-list-tracks-stream-icons":true,"hody-discog-album-tracklist--stream-icon-color":"#98fd2d","hody-discog-album-tracklist--inherit-query":true,"lock":{"move":false,"remove":true}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"5em","bottom":"5em","right":"20px","left":"20px"}},"border":{"bottom":{"color":"var:preset|color|separator","width":"1px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group alignwide" style="padding-top:5em;padding-right:20px;padding-bottom:5em;padding-left:20px"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"20px"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="padding-bottom:20px"><!-- wp:heading {"style":{"typography":{"textTransform":"uppercase","lineHeight":"2"}}} -->
<h2 style="line-height:2;text-transform:uppercase">Other Albums</h2>
<!-- /wp:heading -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"width":75,"style":{"border":{"radius":"0px"},"typography":{"textTransform":"uppercase"}},"className":"is-style-outline","fontFamily":"syncopate"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-75 is-style-outline has-syncopate-font-family" style="text-transform:uppercase"><a class="wp-block-button__link" href="/album" style="border-radius:0px">All Albums</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"3em"}},"border":{"radius":"16px"}},"layout":{"inherit":true}} -->
<div class="wp-block-group alignwide" style="border-radius:16px;margin-top:3em"><!-- wp:genesis-custom-blocks/hody-discog-album-related-albums {"hody-discog-number-of-related-albumsToShow":3,"hody-discog-album--display-listen-now-text":true,"lock":{"move":false,"remove":true}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->